$theme_background: linear-gradient(
                -45deg,
                rgb(21, 192, 159) 0%,
                rgb(145, 50, 182) 100%
);

$container_color: #fff;

$box-shadow: 1px 1px 5px 1px rgba(29, 29, 29, 0.2);

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scale {
  0% {
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
    transform: scale(1.003);
  }
}

